.navbar
  display: flex
  width: 100%
  border-bottom: 1px solid #ccc

  .links
    margin: auto
    a
      display: inline-block
      padding: 26px 5px
      margin: 0 20px
      text-decoration: none
      font-weight: 600
      color: #000
      font-size: 20px
    a:hover
      padding-bottom: 23px
      border-bottom: 3px solid #333