@font-face
  font-family: "Proxima Nova"
  src: url("../../static/Proxima Nova Regular.ttf")

body
  font-family: "Proxima Nova"
  margin: 0

h1
  font-weight: 400
  font-size: 50px

p
  line-height: 2em
  font-size: 20px

a
  text-decoration: none

.single-column
    max-width: 800px
    margin: 120px auto

    p
      text-align: justify
