.about
  margin: 0

  .welcome
    display: flex
    width: 100%
    height: 100vh
    background-image: url('../../static/main.jpg')
    background-size: cover

    .img
      max-width: 500px
      padding: 0 50px
      margin: auto
      margin-top: 200px

      img
        width: 100%

  .single-column
    max-width: 800px
    padding: 0 50px
    margin: 120px auto

    p
      text-align: justify

  .banner
    img
      width: 100%

  .multi-column
    display: flex
    flex-wrap: wrap
    max-width: 1300px
    justify-content: center

    .column
      max-width: 300px
      margin: 50px
      margin-bottom: 0

      a
        color: #6af
