.footer {
  display: flex;
  width: 100%;
  padding: 50px 0;

  .links {
    margin: auto;

    .youtube {
      color: #f00;
    }

    .facebook {
      color: #1778f2;
    }

    .instagram {
      background: linear-gradient(#5851db, #c13584, #fd1d1d, #ff7737, #ffdc80);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    a {
      font-size: 25px;
      margin: 20px;
    }
  }
}
