@font-face {
  font-family: 'Proxima Nova';
  src: url('https://cdn.kevinchik.me/Proxima Nova Regular.ttf');
}

@import "main";
@import "crew";
@import "footer";
@import "media";
@import "navbar";
@import "error";

body {
  margin: 0;
  font-family: "Proxima Nova";
}

h1 {
  font-weight: 400;
  font-size: 50px;
}

p {
  font-size: 16px;
  line-height: 2em;
}

a {
  text-decoration: none;
}
