.footer {
  display: flex;
  width: 100%;
  padding: 50px 0;

  div {
    margin: auto;

    .youtube {
      // color: #f00;
      color: #ccc;
    }

    .facebook {
      // color: #1778f2;
      color: #ccc;
    }

    .instagram {
      // background: linear-gradient(#5851db, #c13584, #fd1d1d, #ff7737, #ffdc80);
      // background-clip: text;
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: #ccc;
    }

    a {
      margin: 20px;
      font-size: 25px;
    }
  }
}
