.main-page {
  margin-bottom: 120px;

  .cover {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('https://cdn.kevinchik.me/limelight/main.jpg');
    background-position: center;
    background-size: cover;

    .img-container {
      max-width: 500px;
      margin: 200px auto;
      padding: 0 50px;

      img {
        width: 100%;
      }
    }
  }

  .about {
    max-width: 800px;
    margin: 120px auto;
    padding: 0 50px;

    p {
      text-align: justify;
    }
  }

  .activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    padding-top: 30px;
    border-top: 1px solid #eee;

    div {
      max-width: 300px;
      margin: 50px 50px 0 50px;

      a {
        color: #3bf;
      }
    }
  }
}
