.media-page {
  margin-bottom: 120px;

  .promo-video {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .iframe-container {
      margin: 0 auto 50px auto;
      padding: 120px 20px 0 20px;
    }

    p {
      margin: 10px auto 100px auto;
      padding: 0 20px;
      font-size: 24px;
    }
  }

  .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1110px;
    margin: auto;

    .thumbnail {
      width: 330px;
      margin: 8px;
      padding: 10px;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      p {
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.5em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .media-page .promo-video {
    display: initial;

    .iframe-container {
      position: relative;
      margin-top: 70px;
      padding-top: 56.25%;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }

    p {
      padding: 0 20px;
    }
  }
}
